@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Phudu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&family=Phudu&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #0066FF;
  --text-color: black;
}
