<section class="main">
  <div class="container_image">
<img src="../../assets/person.png" alt="person">
  </div>
  <div class="container_info">
    <div class="container_title">
      <ngx-typed-js [typeSpeed]="40" [showCursor]="false" [strings]="['HEY, BIENVENIDO!👋']">
        <h1 class="typing tittle"></h1>
      </ngx-typed-js>
      <ngx-typed-js [startDelay]="1100" [typeSpeed]="40" [showCursor]="false" [strings]="['APRENDE EN LINEA','CURSO DE ESTADÍSTICA EMPRESARIAL']">
        <span class="typing tittle"></span>
      </ngx-typed-js>
  </div>
  <div class="container_button">
    <button>SABER MAS</button>
  </div>
  <div class="container_image_mobile">
    <img src="../../assets/mobilePerson.png" alt="personMobile">
  </div>
  </div>
</section>
